@import "common";
@import "common/mixins";

body{
  .main{
    .banner{
      height:2.4rem;
      @include bg-size(100% 100%);
      background-image: url(../images/banner01.jpg);
    }
    .changtu{
      width:100%;
      height:14.0rem;
      @include bg-size(cover);
      background-image: url(../images/changtu.jpg);
    }
  }
}


